body {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  color: inherit;
  background: #d3ceaa; }
  body a {
    color: inherit;
    background: inherit;
    text-decoration: none; }

div.nav {
  position: fixed;
  width: 17.5em;
  height: 100%;
  border-right: 1px #424242 solid;
  padding-top: 1.5em;
  text-align: right;
  color: #424242;
  background: #e7e8d1;
  -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); }
  div.nav #site_title {
    font-family: Futura, Helvetica, sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    color: #000;
    background: inherit;
    border: 1px transparent solid; }
  div.nav ol {
    font-family: "Helvetica Neue", Helvetica, sans-serif; }
  div.nav #site_sections {
    margin-top: 0.5em;
    padding-right: 0.4em;
    font-size: 1.25em;
    letter-spacing: 0.25em;
    border: 1px transparent solid; }
    div.nav #site_sections li {
      margin: 1.25em 0;
      border-bottom: 2px transparent solid;
      padding-bottom: 0.15em; }
      div.nav #site_sections li.active {
        font-weight: bold;
        color: #000;
        background: inherit; }
      div.nav #site_sections li:hover {
        border-bottom: 2px #8e001d solid; }
  div.nav #contact_points {
    display: none;
    letter-spacing: 0.1em; }
    div.nav #contact_points .app_net {
      font-weight: 100;
      font-size: 1.5em; }

div#content {
  color: inherit;
  background: #d3ceaa;
  margin-left: 17.5em;
  line-height: 2em;
  padding: 1.5em 3.5em 3.5em 2em; }
  div#content .post {
    float: left;
    max-width: 30em;
    padding: 1.75em 5em;
    margin: 0 auto;
    border: 1px #424242 solid;
    font-size: 1.1em;
    -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #424242;
    background: #fbf7e4; }
    div#content .post .title {
      font-family: "Lintel", Futura, Helvetica, sans-serif;
      font-size: 2em;
      margin-top: 0.25em;
      margin-left: -0.5em;
      padding-bottom: 0.1em;
      padding-left: 0.5em;
      letter-spacing: 0.25em;
      color: black;
      background: inherit;
      border-bottom: 2px black solid; }
    div#content .post p {
      font-family: "Sanchez";
      margin-bottom: 1.375em;
      color: black;
      line-height: 1.75em; }
      div#content .post p.description {
        margin: 1.75em 3em;
        padding: 0.5em;
        font-style: italic;
        font-size: 0.9em;
        color: black;
        background: #e7e8d1;
        font-family: "Banda Regular"; }
