$red: rgb(142,0,29);
$grey: rgb(66,66,66);
$faded_grey: rgba(66,66,66, 0.6);
$off_white: rgb(251,247,228);
$sand: rgb(211,206,170);
$moleskin_paper: rgb(231,232,209);

$test_border_color: transparent;
// $test_border_color: black;
$nav_border_color: $grey;
$nav_bg_color: $moleskin_paper;
$nav_text_color: $grey;

$content_bg_color: $sand;
$post_bg_color: $off_white;
$post_border_color: $grey;

// Fonts
$sans_serif_content_font_family: Verdana, Tahoma, Helvetica, sans-serif;

body {

	font-family: Cambria, Georgia, "Times New Roman", Times, serif;

	color: inherit;
	background: $content_bg_color;

	a {
		color: inherit;
		background: inherit;
		text-decoration: none;
	}
}

$nav_width: 17.5em;

div.nav {
	$nav_box_shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

	position: fixed;
	width: $nav_width;
	height: 100%;
	border-right: 1px $nav_border_color solid;
	padding-top: 1.5em;
	text-align: right;

	color: $nav_text_color;
	background: $nav_bg_color;

	-moz-box-shadow: $nav_box_shadow;
	-webkit-box-shadow: $nav_box_shadow;
	box-shadow: $nav_box_shadow;

	$site_title_font_size: 2.5em;
	$site_title_letter_spacing: 0.2em;

	#site_title {

		font-family: Georgia, Futura, Helvetica, sans-serif;
		font-size: $site_title_font_size;
		letter-spacing: $site_title_letter_spacing;

		color: #000;
		background: inherit;

		border: 1px $test_border_color solid;
	}

	ol {
		font-family: "Helvetica Neue", Helvetica, sans-serif;
	}

	#site_sections {

		margin-top: 0.5em;
		padding-right: $site_title_letter_spacing * 2;

		font-size: $site_title_font_size / 2;	
		letter-spacing: 0.25em;

		border: 1px $test_border_color solid;

		li {
			margin: 1.25em 0;	
			border-bottom: 2px transparent solid;
			padding-bottom: 0.15em;

			&.active {
				font-weight: bold;
				color: #000;
				background: inherit;
			}

			&:hover {
				border-bottom: 2px $red solid;
			}
		}
	}

	#contact_points {
		display: none;

		letter-spacing: 0.1em;

		.app_net {
			font-weight: 100;
			font-size: 1.5em;	
		}
	}

}

div#content {
	color: inherit;	
	background: $content_bg_color;
	margin-left: $nav_width;
	line-height: 2em;
	padding: 1.5em 3.5em 3.5em 2em;

	.post, .project {

		float: left;
		clear: both;
		width: 30em;
		padding: 1.75em 5em;
		margin: 0 0 2.5em 0;
		border: 1px $post_border_color solid;

		font-size: 1.1em;

		$post_box_shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: $post_box_shadow;
		-webkit-box-shadow: $post_box_shadow;
		box-shadow: $post_box_shadow;

		color: $grey;	
		background: $post_bg_color;

		.title {
			font-family: "Lintel", Futura, Helvetica, sans-serif;
			font-size: 2em;
			margin-top: 0.25em;

			$left_indent: 0.5em;
			margin-left: -$left_indent;
			padding-bottom: 0.1em;
			padding-left: $left_indent;
			letter-spacing: 0.25em;
			color: black;
			background: inherit;
			border-bottom: 2px black solid;
		}

		.content_body {
			margin-top: 1.75em;	
		}

		p {
			&.description {
				margin: 1.75em 3em;	
				padding: 0.5em;
				font-style: italic;
				font-size: 0.9em;
				color: black;
				background: $moleskin_paper;
				font-family: "Banda Regular";
			}

			margin-bottom: 1.375em;
			color: black;
			line-height: 1.75em;
		}

	}

	.project {

		.tags {
			margin: 0.25em 0;

			font-family: $sans_serif_content_font_family;
			letter-spacing: 0.1em;
			font-size: 0.9em;

			color: $faded_grey;
			background: inherit;

			li {
				display: inline-block;
				margin-right: 0.25em;
			}

		}

		p.description {
			margin: 0.75em 0;	
			font-style: normal;
		}

		.links {

			list-style-type: square;

			margin-left: 2em;	

			font-size: 1em;
			font-family: Cambria, Georgia, "Times New Roman", Times, serif;
			letter-spacing: 0.1em;

			li {
				margin-bottom: 0.25em;

				a {
					color: $red;
					background: inherit;
					padding-bottom: 0.35em;

					border-bottom: 0.1em solid transparent;

					&:hover {
						border-bottom: 0.1em solid $grey;
					}

					&.external {
						font-style: italic;
					}
				}	
			}
		}

	}
}
